!!! XML
!!!
%html
  %head
    %meta{'name' => 'robots', :content => 'noindex, nofollow'}
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'content-style-type', :content => 'text/css'}
    %meta{'http-equiv' => 'content-script-type', :content => 'text/javascript'}
    %title 音節
  %body
    %h1 音節
    %form{:action => "count", :method => "post"}
      %p
        %input{:type => "textarea", :name => "text"}
      %p
        %input{:type => "submit"}
      %div= @message
